<!DOCTYPE html>
<html>
  <head>
    <title>Recipe App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", async: true %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= render "partials/nav" %>
    
    <section class="body">
      <%@recipes.each do |recipe| %>
        <div class="recipe-boarder">
          <div class="space">
            <h2><%=recipe.name%></h2>
            <button class="btn btn-primary">Remove</button>
          <div>
          <div class="recipes">
            <p><%=recipe.description%></p>
          </div>
        </div>
      <% end %>
    </section>
  </body>
</html>
